html{
            font-size: 10px;
        }

        body{
            margin: 0;
            padding: 0;
            background-color: #212529;
        }

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 48px;
        }

        .nav{
            list-style: none;
            display: flex;
            justify-content: center;

        }

        li.nav-item > a, .hiereme{
        text-transform:capitalize;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        padding: 25px 12.5px;
        box-sizing: border-box;
        transition: all .4s;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        }

        li.nav-item > a:hover{
            color: #FFB742;
        }

        li.nav-item > a:active{
             font-size: 32px;
        }



        .hiereme{
            color: #212529;
            padding: 12px 26px;
            background-color: #FFB742;
            border-radius: 50px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
        }

.kartik{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;

}

.hi{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #FFFFFF;
}

#KB{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #FFB742;
text-decoration: underline;
}

.design{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.descr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}


.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 136px 72px;
    }

    .block{
        display: flex;
        width: 27%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        background: rgba(56, 62, 69, 0.44);
        border-radius: 10px;
        color: #FFB742;
        }

        .two{
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            }

            .two1{
           color: #FFFFFF;
           font-family: 'Inter';
           font-style: normal;
           font-weight: 700;
           font-size: 16px;
                }

            .three{
            color: #B3B3B3;
            font-size: 18px;
            
            }
            .block:hover {
                background-color: #FFB742;
                color: black !important;
            }

            .about{
                display: flex;
                justify-content: space-between;
                align-items: center;

                }
                .text{

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
    
                    }

             .who{
                    width:max-content;
                    color: #FFB742;
                    padding: 12px 26px;
                    background: rgba(56, 62, 69, 0.44);
                    border-radius: 50px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                .abme{
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 48px;
                    color: #FFFFFF;
                    margin: 20px 0;
    
                    }

                    .content{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 16px;
                        color: #D4D4D4;
                        margin-bottom: 54px;
                        margin-right: 49px;
        
                        }
        .works{
            text-align: center;
margin-bottom: 116px;
        }

        li.nav-item2 > a{
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            box-sizing: border-box;
            transition: all .4s;
            padding: 10px 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            }
        

        li.nav-item2 > a:hover{
            background-color: #FFB742;
            border-radius: 3px;
            color: black;

        }

        .gallery{
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            margin-top: 55px;
            justify-content: center;
            align-content: center;
          }

          .gallery > div{
            padding: 15px 15px;
          }

          footer{
            background-color: #1C1C1C;
            height: 470px;
            display: flex;
            padding: 148px 50px;
            justify-content: space-between
          }

          .menu{
            display: flex;
            flex-direction: column;
            list-style: none;
            flex-wrap: wrap;
          }
          a{
            text-decoration: none;
          }
          .h{
            padding-bottom: 16px;
          }
          .h >a{
            color: #F5FBF2;
            font-size: 21.587px;
            font-family: Work Sans;
            font-style: normal;
            font-weight: 700;
            transition: all .4s;
        
          }
          .list >a{
            color: #7B7B7B;
            font-size: 17.989px;
            font-family: Work Sans;
            font-style: normal;
            font-weight: 500;
            transition: all .4s;
            margin-bottom: 10px;
          }
          .menu > li{
         
            margin-bottom: 10px;
          }
          .h >a:hover{
    color: #FFB742;
    font-size: 32px;
  }

  .list >a:active{
    color: #D4D4D4;
  }
         .list >br{
            padding-bottom: 10px;
          }