body{
    font-family: 'Inika';
}
.h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    
}
.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}
.header{
    font-family: 'M PLUS 1', regular;
    min-height: 50px;
    max-height: 103px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    padding: 20px 0;
    letter-spacing: .2rem;
}
.header-span{
    color: #E8C23E;
  }
  .banner{
    height: 803px;
    background-image: url("../img/image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 218px;
    padding-left: 80px;
}
.content{
    
    box-sizing: border-box;
    color: white;
    width: 75%;
    font-size: 48px;
    font-weight: 700;
    padding-left: 59px;
    background-repeat: no-repeat;
    height: 272px;
    background-image: url("../img/flag.png");

}
.main{
    padding: 20px 80px;
}
.text-align{
    text-align: center;}
.card{
    border: 1px;
    width: 30%;
    color: #030303;

    display: inline-block;
    vertical-align:top;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 50%);
}

.card__image{
    width: 100%;
}
.card_margin{
    margin: 0 2%;
}
.card__title{
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    text-align: left;
    padding: 10px;

    box-sizing: border-box;
}
.card__subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.main2{
    text-align: center;
}
.h2{
    font-size: 40px;
    font-weight: 700;
}

.line2{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin: auto;
    padding: 15px 0;
    box-sizing: border-box;
}
.imageuk{
    padding: 50px 0;
    text-align: center;

}
.rectangle{
    height: 121px;
    width: 591px;
    background-image: url("../img/Rectangle\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
}
.support{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{

    font-family: Marcellus SC;
    font-size: 36px;
    font-weight: 400;
    color: #A89D9D;
    margin-top: 30px;
    box-sizing: border-box;
    background-image: url("../img/Rectangle\ 7.png");
}
.icon{
    
    display: inline-block;
    height: 63px;
    vertical-align:top;
    text-align: center;
}
.icon_image{
    width: 100%;
}
.icon_margin{
    margin: 0 0 2% 0;
}