body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Public Sans';

}

.container{
    min-width: 700px;
    max-width: 1000px;
    background-color: #F9F9F9;
    padding: 0 50px;

}

h1{
    font-weight: 700;
    font-size: 24px;
    padding: 50px 0;
}

.text{
    font-weight: 400;
    font-size: 14px;

}

h2{
    font-weight: 700;
    font-size: 20px;
    margin: 24px 0;
}

span{
    color: red;
}

hr{
margin: 40px 0;
}

input.arrow{
background: url("../img/arrow.png") no-repeat center right;
background-color: white;

}



label{
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

input{
    font-weight: 400;
    font-size: 16px;
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ADADAD;
}

input.search{
    background: url("../img/search-line.png") no-repeat center right;
    background-color: white;
    
    }

select{
    font-weight: 400;
    font-size: 16px;
    width: 400px;
    height: 40px;
}


.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

input.data {
    background-color: #EFEFEF;
    font-weight: 400;
    font-size: 16px;
}

.blue {
color: #0050D8;

}


label.checkb{ 
    display: inline-block;
}

.but
{ 
    display: flex; 
    justify-content: flex-end;
}
input.button{
    width: 69px;
    background-color: #0050D8;
    color: white;
    font-weight: 700;
    font-size: 16px;
    
    }