body {
margin: 0;
padding: 0;
font-family: 'PT Sans';
background-color: #F5F5F5;
}

* {
box-sizing: border-box;
}

header {
background-color: #202846;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 30px 10px 60px;
}

.menu {
display: flex;
justify-content: flex-end;
align-items: center;
text-align: center;
}

.menu a{
display: flex;
align-items: center;
color: white;
font-weight: 700;
font-size: 24 px;
text-decoration: none;
margin: 0 25px;  
}

.booking {
background-color: #C6C6DC;
font-size: 48px;
font-weight: 400;
font-style: italic;
padding: 30px 0 30px 150px;
margin-bottom: 40px;
}

.main {
margin: 0 auto;
width: 90%;
}

.location {
background-color: #E8E8E8;
text-align: center;
padding: 20px 0;
font-size: 28px;
position: relative;
margin-bottom: 40px;
}

.triangle {
position: absolute;
top: 30%;
right: 2%;
}

.card {
position: relative;
background-color: 
#BDBDC6;
padding: 15px 50px;
overflow: hidden;
margin-bottom: 40px;
}

.image {
width: 45%;
float: left;
}

.image img {
width: 100%;

}

.description {
    width: 50%;
float: right;
}


.title {
font-size: 36px;
font-weight: 700;
font-style: italic;
border-bottom-color: #FFFFFF;
border-bottom-style: solid;
border-bottom-width: 3px;
margin-bottom: 15px;
overflow: hidden;
}

.text {
background-color: #D7D7DD;
text-align: center;
font-size: 22px;
font-weight: 400;
padding: 10px;
overflow: hidden;
}


.star {
position: absolute;
top: 2%;
right: 1%;
}

.svg path {
fill: white;
}

.button {
position: absolute;
border-width: 1px;
border-style: solid;
border-radius: 26px /28px;
width: 155px;
height: 45px;
border-color: #202846;
background-color: #202846;
text-decoration: none;
font-size: 24px;
font-weight: 400;
display: flex;
align-items: center;
justify-content: center;
right: 1%;
bottom: 4%;
} 

.button > a {
text-decoration: none;
color: white;
}

.card:hover path{
fill: yellow;  
}   

.fixed {
position: fixed;
bottom: 100px;
right: 10px;
} 

.footer {
width: 100%;
background-color: #202846;
display: flex;
align-items: center;
text-align: center;
color: #EEECF1;
font-size: 36px;
font-weight: 400;
font-style: italic; 
padding: 15px 0 15px 50px;
} 

