body, ul{
    margin: 0;
    padding: 0;
    font-family: 'Rosario';

}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin:0;
    top: 0;
    position: fixed;
    z-index: 2;
}

.nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
height: 129px;
    width: 100%;

}

li.nav-item > a{
    text-decoration: none;
    color: white;
    font-size: 36px;
    padding: 0 12.5px;
    box-sizing: border-box;
    font-style: italic;
    font-weight: 700;
    }

section {
    box-sizing: border-box;
    padding-top: 80px;
    width: 100%;
height: 100vh;

    }

.page, .gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto {
    padding: 8px 0;
    width: 45vh;
        
        }

.mainbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.box{

  position: absolute;
  left: -100%;

  animation-name: animationbox1;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}



@keyframes animationbox1 {

    0% {left: -100%;
    }
    
    100% { left: 23vw;
    }
}

.box2{

    position: absolute;
    right: -100%;

    animation-name: animationbox2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes animationbox2 {
  
      0% {right: -100%;
      }
      
      100% { right: 23vw;
      }
  }

  .foto1
  {
      margin: 0 8px;
      width: 35vh;
      position: relative;
      left: -100%;

      animation-name: animationfoto1;
      animation-duration: 2s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
          }

          @keyframes animationfoto1 {

            0% {left: -100%;
            }
            
            100% { left: 0vh;
            }
        }

  .foto6 {
      margin: 0 8px;
      width: 35vh;
      position: relative;
      right: -100%;

      animation-name: animationfoto6;
      animation-duration: 2s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
          }

          @keyframes animationfoto6 {

            0% {right: -100%;
            }
            
            100% { right: 0vh;
            }
    }
.media3 {
display: flex;
justify-content: space-between;
align-items: center;

    }

.round {

 width: 50%;
 position: relative;
padding-top: 40px;
box-sizing: border-box;

}

.bigfoto {
width: 45%;

}

.bigfoto img {
width: 100%;
    }

.ellipse {
width: 100%;
font-style: italic;
font-weight: 700;
text-align: center;
font-size: 48px;
width: 20%;

}

.ellipse > img {
    width: 150px;

}


#circ1
{
animation: element1 10s linear infinite;
position: absolute;
left: 5%;
top: -700%;

    }

    @keyframes element1 {
        0% {left: 5%; top: -700%;} 
        25% {left: 70%; top: -700%;} 
        50% {top: 100%; left: 70% } 
        75% {top: 100%; left: 5%;} 
        100% {left: 5%; top: -700%;} 
        }

#circ2
{
animation: element2 10s linear infinite;
position: absolute;
left: 70%;
top: -700%;
        
            }
            @keyframes element2 {
                0% {left: 70%; top: -700%;} 
                25% {left: 70%; top: 100%;} 
                50% {left: 5%; top: 100%;} 
                75% {left: 5%; top: -700%;} 
                100% {left: 70%; top: -700%;} 
                }

#circ3
{
animation: element3 10s linear infinite;
position: absolute;
left: 5%;
top: 100%;

    }

    @keyframes element3 {
        0% {left: 5%; top: 100%;} 
        25% {left: 5%; top: -700%;} 
        50% {left: 70%; top: -700%;} 
        75% {left: 70%; top: 100%;} 
        100% {left: 5%; top: 100%; } 
        }
 
#circ4
{
animation: element4 10s linear infinite;
position: absolute;
left: 70%;
top: 100%;

    }

    @keyframes element4 {
        0% {left: 70%; top: 100%;} 
        25% {left: 5%; top: 100%;} 
        50% {left: 5%; top: -700%;} 
        75% {left: 70%; top: -700%;} 
        100% {left: 70%; top: 100%;} 
        }

.h1 {
font-size: 96px;
font-weight: 700;
text-align: center;
padding-bottom: 60px;
box-sizing: border-box;
}

.card {
position: relative; 
overflow: hidden;
            } 

.card > img   {
width: 90%;
margin:0 20px;

        }  

.name {
width: 90%;
height: 0%;
background-color: #a3540aae;
text-align: center;
margin:0 20px;
line-height: 200%;
color: white;
font-family: 'Volkhov';
font-size: 48px;
font-weight: 400;
border-bottom-left-radius: 20%;
border-bottom-right-radius: 20%;
transition: all 2s;
position: absolute;
bottom: 0.6%;

}  

.card:hover .name   {
height: 20%;
}                               

.message {
font-style: italic;
font-weight: 700;
text-align: center;
font-size: 48px;
}     

.form {

background-color: #E5E5E5;
padding: 30px;
box-sizing: border-box;
}   

.line {
display: inline-block;
padding-bottom: 20px;
box-sizing: border-box;
} 

input {
width: 49%;
font-weight: 700;
font-size: 36px;  
box-sizing: border-box; 
} 

textarea  {
resize: none;
width: 98.5%;
height: 200px;
border: none;
font-weight: 700;
font-size: 36px;
} 

.column  {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 60%;
padding-left: 20px;
box-sizing: border-box;
} 

.map  {
margin: 0 40px 0 25px;
} 

.footer {
width: 100%;
display: flex;
justify-content: space-evenly;
align-items:baseline;
padding-top: 30px;
box-sizing: border-box;
font-weight: 600;
font-size: 30px;
font-style: italic;
text-align: center;
line-height: 36px;
}

span {
font-weight: 700;
}

.ophs {
font-weight: 700;
font-size: 36px;
margin-bottom: 20px;
} 

.footer a {
text-decoration: none;
color: black;
} 

@media screen and (max-width: 992px) {
    li.nav-item > a{
        font-size: 20px;
        }


section {
height: min-content;

}

@keyframes animationbox1 {
    0% {left: -100%;
    }  
    100% { left: 15vw;
    }
}

@keyframes animationbox2 {
      0% {right: -100%;
      }
      100% { right: 15vw;
      }
  }

.gallery {
position: relative;

}

.box, .box2 {
top: 30%;
}

.photo1 {

   transform: translate (200px, 100px);
    }

    @keyframes animationfoto1 {

        0% {left: -100%;
        }
        
        100% { left: 21vh;
        }
    }

      @keyframes animationfoto6 {

        0% {right: -100%;
        }
        
        100% { right: 21vh;
        }
}
.media3 {
display: grid;
grid-template-columns: 1;
height: 100vh;
}

.ellipse {


}
            
.round {
width: 100%;
height: 50%;
padding: 0;

}

.bigfoto {
margin-left: auto;
margin-right: auto;

}
.media2{
    display: flex;
    flex-direction: column;
    }

.column{
margin-bottom: 5%;
} 
.mediaflex {
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
grid-row-gap: 20px;
}
}  

@media screen and (max-width: 768px) {

section {
height: 100vh;
width: 100%;
}
.page {
    margin: 0 auto;
    }


.mainbox, .box, .box2, .foto, .foto1, .foto6{
animation: none;  
position: static;
display: block;
}

.foto1{
margin-top: 80px; 
}

.media3{




 }

.bigfoto {
display: none;  
}

.ellipse > img {
width: 150%;
}

.ellipse {
width: 20%;
margin-left: auto;
margin-right: auto;
font-size: 36px;
}

.round {

margin: 0;
width: 100%;
position: absolute;
margin-left: auto;
margin-right: auto;

   }


.mediaflex, .mediaflex2, .gallery {
display: flex;
flex-direction: column;
justify-content: center;
grid-row-gap: 20px;
float: left;
margin-bottom: 10%;  
}

.card > img  {
width: 70%;
} 

.name {
width: 70%;
}  


.media2 {
display: grid;
grid-template-columns: 1;
justify-items: center;
grid-row-gap: 20px;
float: left;


}  
.form {
    width: 70vw;
    }  

.map{
display: block;
float: right;
order: -1; 
margin-left: auto;
margin-right: auto;

}  
input {
    font-size: 24px;  
    } 
    
    textarea  {
    font-size: 24px;
    } 

    .footer  {
        font-size: 24px;
        width: 100vw;
        } 

}  

