* {
box-sizing: border-box;
}

body, ul{
margin: 0;
padding: 0;
font-family: 'Rosario';
}

.header{
width: 100%;
display: flex;
align-items: center;
margin:0;
top: 0;
position: fixed;
z-index: 2;
}

.nav{
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 23px;
background-color: black;
height: 128px;
width: 100%;
}

li.nav-item > a{
text-decoration: none;
color: white;
font-size: 36px;
padding: 0 12.5px;
box-sizing: border-box;
font-style: italic;
font-weight: 700;
}

.section1 {
margin: 0 43px;
}

.gallery-center {
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 20px;
}

.gallery {
overflow: hidden;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 150px;
}

.gallery-foto1 {
width: 20%;
transform: translateX(-200%);
animation-name: animationblock;
animation-duration: 2s;
animation-delay: 3s;
animation-fill-mode: forwards;
}

.gallery-foto1 img {
width: 100%;
}

.gallery-foto6 {
width: 20%;
transform: translateX(200%);
animation-name: animationblock;
animation-duration: 2s;
animation-delay: 3s;
animation-fill-mode: forwards;
}

.gallery-foto6 img {
width: 100%;
}

.gallery-center {
width: 50%;
}

.gallery-block1 {
width: 50%;
transform: translateX(-300%);
animation-name: animationblock;
animation-duration: 2s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

.gallery-block1 img {
width: 100%;
}

.gallery-block2 {
width: 50%;
transform: translateX(300%);
animation-name: animationblock;
animation-duration: 2s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

.gallery-block2 img {
width: 100%;
}

.gallery-foto2, .gallery-foto4 {
margin-bottom: 40px;
}

@keyframes animationblock {
    
    100% { transform: translateX(0%);
    }
}

.gallery-down {
display: none;
}

.section2 {
padding-top: 100px;
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.round {
width: 50%;
height: 100vh;
position: relative;
font-style: italic;
font-weight: 700;
text-align: center;
font-size: 48px;
}

.ellipse1 {
animation: element1 10s linear infinite;
position: absolute;
top: 0%;
left: 0%;
}

.ellipse1 > img {
width: 190px;
}

@keyframes element1 {
    0% {top: 0%; left: 0%;} 
    25% {left: 70%; top: 0%} 
    50% {left: 70%; top: 70%; } 
    75% {top: 70%; left: 0%;} 
    100% {left: 0%; top: 0%;} 
    }

.ellipse2 {
animation: element2 10s linear infinite;
position: absolute;
top: 0%; left: 70%;
}
    
.ellipse2 > img {
width: 190px;
}

@keyframes element2 {
    0% {top: 0%; left: 70%;} 
    25% {top: 70%; left: 70%;} 
    50% {top: 70%; left: 0%; } 
    75% {left: 0%; top: 0%;} 
    100% {top: 0%; left: 70%;} 
    }


.ellipse3 {
animation: element3 10s linear infinite;
position: absolute;
top: 70%; left: 70%;
}
    
.ellipse3 > img {
width: 190px;
}

@keyframes element3 {
    0% {top: 70%; left: 70%;} 
    25% {top: 70%; left: 0%;} 
    50% {left: 0%; top: 0%; } 
    75% {top: 0%; left: 70%;}
    100% {top: 70%; left: 70%;} 
    }



.ellipse4 {
animation: element4 10s linear infinite;
position: absolute;
top: 70%; left: 0%;
}
    
.ellipse4 > img {
width: 190px;
}

@keyframes element4 {
    0% {top: 70%; left: 0%;} 
    25% {top: 0%; left: 0%; } 
    50% {top: 0%; left: 70%; } 
    75% {top: 70%; left: 70%;}
    100% {top: 70%; left: 0%;} 
    }

.bigfoto {
width: 50%;
}
        
.bigfoto img{
width: 100%;
}

.section3 {
margin: 0 45px;
}

.sect3-title {
text-align: center;
font-size: 96px;
font-weight: 700;
}

.sect3-gallery {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
}

.sect3-card {
position: relative; 
overflow: hidden;
border-radius: 40px;
} 

.sect3-card > img   {
width: 100%;
flex-shrink: 0;
}  

.card-name {
    width: 100%;
    height: 0%;
    background-color: #a3540aae;
    text-align: center;
    line-height: 200%;
    color: white;
    font-family: 'Volkhov';
    font-size: 48px;
    font-weight: 400;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: all 2s;
    position: absolute;
    bottom: 0%;
}

.sect3-card:hover .card-name   {
    height: 20%;
}

.section4 {
width: 100%;
padding: 0 100px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 34px;
margin-bottom: 50px;
}

.contact-block {
    width: 55%;
    }

.contact-title {
text-align: center;
font-size: 64px;
font-style: italic;
font-weight: 700;
}

.contact-form {
background-color: #E5E5E5;
padding: 36px 24px;
} 

.form-line {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 45px;
}

.form-input {
width: 46%;
font-weight: 700;
font-size: 36px;  
color: rgba(0, 0, 0, 0.50);
}

.form-text {
resize: none;
border: none;
width: 100%;
height: 200px;
font-weight: 700;
font-size: 36px;  
color: rgba(0, 0, 0, 0.50);
}
    
.map {
width: 45%;
}

.map > iframe {
width: 100%;
}

.footer {
width: 100%;
padding: 0 100px;
display: flex;
justify-content: space-evenly;
align-items:baseline;
font-weight: 600;
font-size: 30px;
font-style: italic;
text-align: center;
line-height: 36px;
gap: 36px;
}

.footer-title {
font-weight: 700;
}

.footer a {
text-decoration: none;
color: black;
} 

.opening-hours {
font-weight: 700;
font-size: 36px;
} 

@media screen and (max-width: 992px) {
li.nav-item > a{
font-size: 20px;
}
.gallery-foto1, .gallery-foto6 {
    display: none;
}

.gallery {
flex-direction: column;
align-items: center;
}
    
.gallery-center {
margin: 0 auto;
order: 1;
margin-bottom: 20px;
}
    
.gallery-down {
margin: 0 auto;
display: flex;
justify-content: center;
gap: 40px;
order: 2;
}

.gallery-down-foto1 {
width: 20%;
transform: translateX(-300%);
animation-name: animationblock;
animation-duration: 2s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

.gallery-down-foto6 {
width: 20%;
transform: translateX(300%);
animation-name: animationblock;
animation-duration: 2s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

.gallery-down-foto1 img {
width: 100%;
}

.gallery-down-foto6 img {
width: 100%;
}

.gallery-foto2, .gallery-foto4 {
margin-bottom: 20px;
}
.section2 {
flex-direction: column;
padding-top: 50px;
}

.round {
order: 2;
font-size: 36px;
margin-bottom: 30px;
}
    
.ellipse1 > img {
    width: 140px;
    }
    .ellipse2 > img {
        width: 140px;
        }
        .ellipse3 > img {
            width: 140px;
            }
            .ellipse4 > img {
                width: 140px;
                }
.bigfoto {
margin-bottom: 20px;
}

.section3 {
margin-bottom: 40px;
}

.sect3-title {
font-size: 74px;
}
    
.sect3-gallery {
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 30px;
justify-content: center;
}
    
.sect3-card {
width: 40%;
}

.sect3-card > img   {
width: 100%;
flex-shrink: 0;
}  

.section4 {
flex-direction: column;
}

.map {
order: 1;
width: 80%;
}

.contact-block {
order: 2;
width: 80%;
}

.contact-title {
font-size: 52px;
}
}

@media screen and (max-width: 768px) {

.section1 {
margin: 0 auto;
}

.gallery, .gallery-center {
flex-direction: column;
}

.gallery-center {
width: 100%;
margin: 0;
padding: 0;
}

.gallery-foto1, .gallery-foto6 {
display: block;
}

.gallery-foto6 {
order: 6;
margin: 0;
}

.gallery-down {
display: none;
}

.gallery-foto1, .gallery-foto6, .gallery-block1, .gallery-block2 {
animation: none;
transform: none;
}

.gallery-block1, .gallery-block2 {
width: 100%;
}

.gallery-foto1, .gallery-foto2, .gallery-foto3, .gallery-foto4, .gallery-foto5, .gallery-foto6 {
width: 85%;
margin: 0 auto;
margin-bottom: 20px;
}
    
.gallery-foto1 img {
width: 100%;
}

.gallery-foto2 img {
width: 100%;
}

.gallery-foto3 img {
width: 100%;
}

.gallery-foto4 img {
width: 100%;
}

.gallery-foto5 img {
width: 100%;
}

.gallery-foto6 img {
width: 100%;
}

.bigfoto {
display: none;
}

.round {
width: 90%;
}

.section3 {
margin: 0 auto;
}
    
.sect3-title {
font-size: 64px;
padding: 20px;
}

.sect3-gallery {
width: 100%;
flex-direction: column;
align-items: center;
gap: 20px;
}
    
.sect3-card {
width: 75%;
position: relative; 
overflow: hidden;
border-radius: 25px;
} 
    
.sect3-card > img   {
width: 100%;
flex-shrink: 1;
}  
    
.card-name {
width: 100%;
line-height: 250%;
font-size: 36px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
position: absolute;
bottom: 0%;
}

.section4 {
width: 100%;
padding: 0;
}
   
.contact-block {
order: 1;
width: 80%;
}

.map {
order: 2;
width: 80%;
}

.footer {
flex-direction: column;
text-align: center;
justify-content: center;
padding: 0;

font-size: 22px;
}

.footer > p {
padding: 0;
margin: 0;
}

.footer-block1 {
text-align: center;
margin: 0 auto;
padding: 0 auto;
}
}



