
.square{
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;
    background-size: cover;


}

.diya_img{
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.flag_img{
    width: 20%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flag{
    background-color: #FFCE22;
    width: 300px;
    height: 300px;
    position: relative;
    background-size: cover;
}
.blue{
    width: 300px;
    position: relative;
    top: 0%;
    left: 0%;
}

.wave{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flag2{
    background-color: #FFCE22;
    width: 300px;
    height: 300px;
    position: relative;
    background-size: cover;
}
.blue2{
    width: 300px;
    position: relative;
    top: 0%;
    left: 0%;

}
.circle{
    width: 300px;
    overflow: hidden;
    border-radius: 150px;

}
.line{
    
    display: inline-block;
    height: 300px;
    vertical-align:top;
    text-align: center;
}
.line_margin{
    margin: 0 5%;
}