body {
font-family: 'Montserrat';
font-weight: 500;
background-color: #ECECEC;
}

.mynav {
background-color: white !important;
border-bottom: solid 1px #C4C4C4;
}

.mybtn {
background-color: #EF781A;
color: white;
border: none;
margin: 0 10px;
font-weight: 700;
font-size: 18px;
}

.mybtn:hover {
background-color: #00D008;
}

.logo {
margin: 0 8%;
}
.width-collapse {
display: flex;
justify-content: space-between;
margin-right: 8%;
}


.myform {
font-size: 16px;
width: 40%;
}

.btn-block {
display: flex;
justify-content: flex-end;
}

input.loc{
background: url("../img/adress.png") no-repeat center left;
background-color: white;
padding: 0 7%;
height: 50px;
border: solid 2px #323232;

}

.mcd {
font-size: 36px;
font-weight: 800;
height: 150px;
padding: 65px 0% 2% 8%;
box-sizing: border-box;
background-color: white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

section {
margin: 0 8%;
}

.nav-menu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding-left: 0;
    padding-top: 20px;
    box-sizing: border-box;
}

li.nav-item > a{
    text-decoration: none;
    color:  #7B7B7B;
    font-size: 18px;
    padding: 8px 10px;
    box-sizing: border-box;
    transition: all .4s;
    }

li.nav-item > a:hover{
background-color: #C4C4C4;
border-radius: 10px;
color: black;
}

.title {
font-size: 24px;
font-weight: 700;
padding: 30px 0px;
}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.card-text{
font-size: 10px;
}

.card-block{
display: flex;
justify-content: space-between;
}

.hover:hover .price{
    display: none;
    }

.hover:hover .mybtn2{
display: inherit;
}

.mybtn2 {
    background-color: #EF781A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    display: none;
}

.heart:hover path{
    fill: #69A042;
    stroke: #69A042;
    }

.footer-title{
font-size: 14px;
color: #999999;
}

.footer-text{
font-size: 16px;
}

.footer-body{
height: 80px;
}

.card-footer {
box-shadow: none;
}

.order {
width: 40%;
margin: 0 8%;
position: fixed;
right: 0px;
bottom: 0px;
}

.card-order {
margin: 0 5%;
    }

.order-line1 {
font-size: 14px;
display: flex;
justify-content: space-between;
align-items: center;
}

span {
font-size: 18px;
padding: 0 13px;
}

.plus {
    background-color: #EF781A;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 50%
}

.order-list{
    font-size: 12px;
    color: #999999;
    }

.order-btn {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #EF781A;
font-size: 18px;
font-weight: 700;
color: white;
border: none;
padding: 20px;
margin: 0px 2% 4% 2%;
border-radius: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }

    .arrow {
        margin: 0 3%;
        position: fixed;
        left: 0px;
        bottom: 0px;
        }