body{
    font-family: 'PT Sans';
    margin: 0;
    padding: 0;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  .header{
   display: flex;
   justify-content: space-between;
   background-color: #202846;
   align-items: center;
   text-align: right;
  }

  .nav{
    list-style: none;
    display: flex;
   }

li.nav-item > a, .globe{
   text-decoration: none;
   color: white;
   padding: 30px 20px;
   font-size: 24px;
   font-weight: 700;
   box-sizing: border-box;
}

.vert {
    border-left: 3px solid white;
    height: 50px;
}
  .logo{
    display: flex;
    padding: 15px 50px;
   }

.globe{
align-items: center;
}
.head2 {
    background-color: #C6C6DC;
    height: 140px;
    margin-bottom: 20px;
    }

    .booking {
        font-size: 48px;
        font-weight: 400;
        font-style: italic;
        vertical-align: middle;
        line-height: 140px;
        padding-left: 10%;
      } 
  
  .main{
    background-color: #F5F5F5;
  }

  .box{
    width: 80%;
    margin: 0 auto;
  }

  .card{
    width: 100%;
    background-color: #BDBDC6;
margin: 2.5% auto;
     
  }

  .foto{
    width: 35%;
    float: left;
    margin: 30px 60px;
    box-sizing: border-box;
  }

  .describe{
    padding: 10px;
margin-right: 50px;
position: relative;
  }

  .title{

    color: #353C57;
    font-size: 36px;
    font-weight: 700;
    font-style: italic; 

  }

  .line{

    border-bottom: 3px solid white;
    overflow: hidden;
    margin-bottom: 10px;

  }

  .text{

    background-color: #D7D7DD;
    overflow: hidden;
color: #202846;
font-size: 22px;
font-weight: 400;
text-align: center;
padding: 1%;


  }



  .star{
    position: relative;
left: 48.5%;
  top: -240px;
  box-sizing: border-box;
  }

  a { 
    text-decoration: none; 
    color: #fff;
   } 

  .button{

    position: relative;
            border-width: 1px;
            border-style: solid;
            border-radius: 26px /28px;
            width: 155px;
            height: 45px;
            border-color: #202846;
            background-color: #202846;
            font-size: 24px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 90%;
            top: -87px;
            box-sizing: border-box;
  }