body{
    background-color: #F5F5F5;
    font-family: 'PT Sans';
    margin: 0;
  }
  
  .logo {
    position: absolute;
    height: 70px;
    left: 5%;
    top: 2%;
  }

  #navbar {
    margin: 0;
    padding-left: 29%;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    list-style-type: none;
    background-color: #202846;
    overflow: auto;
    box-sizing: border-box;
  }

  #navbar li { 
    float: left;  
    display: flex;
    align-items: center;
}

#navbar a {
    color: #fff;
    padding-left: 60px 0;
    margin: 20px;
    text-decoration: none;
    text-align: center;
  }
  .head2 {
    background-color: #C6C6DC;
    height: 140px;
    }

    .booking {
        font-size: 48px;
        font-weight: 400;
        font-style: italic;
        vertical-align: middle;
        line-height: 140px;
        padding-left: 10%;
      } 

      .block {
        height: 73px;
        width: 82%;
        background-color: #E8E8E8;
        margin: 2% auto;
        display: flex;
        align-items: center;
        justify-content: center;
} 

        .place {
            color:  #000000;
            opacity: 61%;
            font-weight: 400; 
            font-size: 24px;
          }

          .polygon {
            position: relative; 
            left: 58%;
            top: 3%;
          } 

          .card {
            position: relative;
            border: 1px;
            width: 82%;
            background-color: #BDBDC6;
            margin-top: 2%;
            margin-left: 9%;
            overflow: hidden;
            box-sizing: border-box;
            

          } 

          .foto {
            width: 34%;
            padding: 3% 5%;
            float: left;
          } 

          .block2{
            margin-top: 15px;
          } 

          .title {
            color: #353C57;
            font-size: 36px;
            font-weight: 700;
            font-style: italic;   
          } 
          
          .line {
            width: 51%;
            border-bottom: 3px solid white;
            overflow: hidden;
          } 

          .text {
            width: 51%;
            background-color: #D7D7DD;
            overflow: hidden;
            margin: 1% 0;
            height: 20vh;
            box-sizing: border-box;
            color: #202846;
            font-size: 22px;
            font-weight: 400;
            display: flex;
            align-items: center;
            text-align: center;
          }
          
          .star {
            position: absolute;
            left: 95%;
            top: 2%;
          } 

          a { 
            text-decoration: none; 
            color: #fff;
           } 

           .button {
            position: absolute;
            border-width: 1px;
            border-style: solid;
            border-radius: 26px /28px;
            width: 155px;
            height: 45px;
            border-color: #202846;
            background-color: #202846;
            font-size: 24px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 90%;
            top: 78%;

          
          } 

          .footer {
            height:90px;
            width: 100%;
            background-color: #202846;
            display: flex;
            align-items: center;
            text-align: center;
            margin-top: 2%;
            padding-left: 20px;
            color: #EEECF1;
            font-size: 36px;
            font-weight: 400;
            font-style: italic; 

         } 
          
          .fixed {
          position: fixed;
          bottom: 100px;
          right: 10px;
              } 

              .block2:hover .star {
                fill: yellow;
                } 

          